{% extends "base.html" %}
{% block title %}about{% endblock title %}

{% block body %}

<details>
    <summary>
        Introduction to the Platform:
    </summary>
    <P>
       <b>GameOn.live</b> is your ultimate online destination for thrilling, action-packed battle games.<br> Whether you're a casual player or a seasoned warrior, our platform offers an immersive experience with a wide range of competitive games that test your skills, strategy, and teamwork.
    </p>
</details>

<details>
    <summary>
        Mission and Vision:
    </summary>
    <P>
        At <b>GameOn.live</b>, our mission is to create the ultimate battleground for gamers, where skill, strategy, and teamwork come together to provide an unforgettable competitive experience.<br> We aim to foster a global community of passionate players who seek to challenge themselves, grow their skills, and engage in epic battles across various genres.
    </p>
    <p>
        Our vision is to become the leading platform for competitive battle gaming, continuously evolving with the latest technologies and trends to deliver the most innovative, exciting, and engaging experiences.<br> We aspire to build a community where players not only compete but connect, collaborate, and thrive together.
    </p>
</details>
<details>
    <summary>
        Call to Action:
    </summary>
    <P>
        An invitation for users to sign up, or start playing.<br>Links to social media profiles, contact information, or a community forum.
    </p>
</details>

<details>
    <summary>
        Social Responsibility:
    </summary>
    <P>
        Emphasize the platform’s commitment to promoting responsible gaming and providing tools for users to set limits or take breaks.<br> Discuss any community-building activities, partnerships with charities, or social initiatives the platform participates in.<br>
        To join Bottle you must be at least 18 years of age
    </p>
</details>



{% endblock body %}